{% extends 'base.html' %}
{% load static %}

{% block main %}
  <div class="block-lg">

    <div class="container-fluid" style="background-color: #000000;">
      <div class="row">
        <div class="col-6 px-0" style="background-color: #3C171C" id="">
          <div class="t-1">
            KOSHIKA
          </div>
          <div class="t-1-1">
            бижутерия, которая покажет вам,<br>что быть собой – это искусство
          </div>
          <div>
            <a class="button-1" href="#l-2">
              <div class="t-1-2">Приступить к покупкам</div>
            </a>
          </div>
        </div>
        <div class="col-6 px-0 c-1">
          <img class="img-0" src="{% static 'img/1.png' %}">
        </div>
      </div>
    </div>

    <div class="container-fluid" style="padding-bottom: 50px; background-color: #000000;" >
      <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6 px-0 c-2">
          <div class="t-2" id="a1">
              Koshika - это <br>Идеальная деталь<br>вашего
          </div>
          <div class="t-2-1">
              образа
          </div>
        </div>
      </div>
    
      <div class="row" style="padding-top: 50px;">
        <div class="col-6">
          <div class="t-3">
            Наши изделия выполнены в стиле минимализм, супрематизм а также в природном направлении.<br>
            <br>
            Все изделия изготовлены вручную настоящими художниками,<br> которые гордятся своим <br>мастерством и вкладывают <br>максимум усилий в создание <br>каждого украшения<br>от начала до конца.
            </div>
        </div>
        <div class="col-2 px-0">
          <div class="t-3-1">
            Мы живем в такие времена, когда массового производства более чем достаточно и ценность таких вещей с каждым годом все ниже, что приводит к необдуманным покупкам.
          </div>
  
        </div>
        <div class="col-4 px-0">
          <div class="t-3-2">
            Наши серьги, колье, браслеты <br>созданы женщинами для женщин, чтобы напоминать нам о вечных ценностях, о ремеслах и бережном отношении ко всему, что нас окружает.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 px-0">
        </div>
        <div class="col-3 px-0 c-3">
          <img class="img-2" src="{% static 'img/3.png' %}">
        </div>
        <div class="col-3 px-0">
          <img class="img-1" src="{% static 'img/2.png' %}">
        </div>
      </div>
  
      <div class="row ">
        <div class="col-12">
          <img class="img-3" src="{% static 'img/4.png' %}">
        </div>
      </div>
  
    </div>

  </div>
  <div class="block-sm">
    <div class="container-fluid" style="background-color: #000000;">
      <div class="row">
        <div class="col-12 px-0" style="background-color: #3C171C" >
          <div class="t-1" id="a2">
            KOSHIKA
          </div>
          <div class="t-1-1">
            бижутерия, которая покажет вам, <br> что быть собой – это искусство
          </div>
          <div>
            <a class="button-1" href="#l-2">
              <div class="t-1-2">Приступить к покупкам</div>
            </a>
          </div>
        </div>

          <img class="img-sm0" src="{% static 'img/1-1.png' %}">
      </div>
    </div>
  
    <div class="container-fluid" style="padding-bottom: 50px; background-color: #000000;" >
      <div class="row">
        <div class="col-12">
          <div class="t-2">
              Koshika - это <br>Идеальная деталь<br>вашего
          </div>
          <div class="t-2-1">
              образа
          </div>
        </div>
      </div>
    
      <div class="row" style="padding-top: 50px;">

        <div class="col-12">
          <div class="t-3-1">
            Мы живем в такие времена, <br> когда массового <br> производства более чем <br> достаточно и ценность таких <br> вещей с каждым годом все <br> ниже, что приводит к <br> необдуманным покупкам.
          </div>
          <img class="img-sm2" src="{% static 'img/3-1.png' %}">
        </div>

        <div class="col-12">
          <div class="t-3-2">
            Наши серьги, колье, браслеты созданы женщинами для<br> женщин, чтобы напоминать нам<br> о вечных ценностях, о ремеслах <br>и бережном отношении ко<br> всему, что нас окружает.
          </div>
          <img class="img-1" src="{% static 'img/2.png' %}">
        </div>
        <div class="col-12 px-0">
          <div class="t-3">
            Наши изделия выполнены в стиле минимализм, супрематизм а также <br>в природном направлении.<br>
            <br>
            Все изделия изготовлены вручную <br>настоящими художниками,<br> которые гордятся своим <br>мастерством и вкладывают <br>максимум усилий в создание <br>каждого украшения<br>от начала до конца.
          </div>
          <div class="t-link">
            Узнать о бренде ->
          </div>
          <img class="img-3" src="{% static 'img/4.png' %}">
        </div>  
            
      </div>
    </div>

  </div>
  <div class="block-xs">
    <div class="container-fluid" style="background-color: #000000;">
      <div class="row" style="background-color: #3C171C; height: 355px;">
        <div class="col-12 px-0">
          <div class="t-1">
            KOSHIKA
          </div>
          <div class="t-1-1">
            бижутерия, которая покажет вам, <br> что быть собой – это искусство
          </div>
          <div>
            <a class="button-1" href="#l-2">
              <div class="t-1-2">Приступить к покупкам</div>
            </a>
          </div>
        </div>
      </div>
      <div class="row px-0">
        <div class="col-12 px-0">
          <img class="img-sm0" src="{% static 'img/1-1.png' %}">
        </div>
      </div>  
    </div>
    <div class="container-fluid" style="padding-bottom: 20px; background-color: #000000;">
      <div class="row">
        <div class="col-12">
          <div class="t-2" id="a3">
              Koshika - это <br>Идеальная деталь<br>вашего
          </div>
          <div class="t-2-1">
              образа
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 30px;">
        <div class="col-12">
          <div class="t-3-1">
            Мы живем в такие времена, когда <br>массового производства более чем <br> достаточно и ценность таких вещей <br>с каждым годом все ниже, что <br>приводит к необдуманным покупкам.
          </div>
          <img class="img-sm2" src="{% static 'img/3-1.png' %}">
        </div>
        <div class="col-12">
          <div class="t-3-2">
            Наши серьги, колье, браслеты <br>созданы женщинами для женщин, <br>чтобы напоминать нам о вечных<br> ценностях, о ремеслах и бережном<br> отношении ко всему, что нас <br>окружает.
          </div>
          <img class="img-1" src="{% static 'img/2.png' %}">
        </div>
        <div class="col-12 px-0">
          <div class="t-3">
            Наши изделия выполнены в стиле минимализм, супрематизм а также <br>в природном направлении.<br>
            <br>
            Все изделия изготовлены вручную <br>настоящими художниками, которые <br>гордятся своим мастерством и <br>вкладывают максимум усилий <br>в создание каждого украшения<br>от начала до конца.
          </div>
          <div class="t-link">
            Узнать о бренде ->
          </div>
          <img class="img-3" src="{% static 'img/4.png' %}">
        </div>  
      </div>
    </div>
  </div>

  <div class="container-fluid-m">
    <div class="row">
    </div>
  </div>
  <div class="container-fluid-m1">
      <div class="row">
      </div>
  </div>
  <div class="container-fluid-m2">
      <div class="row">
      </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="t-4-1">
            Наш выбор
        </div>
        <div class="t-4-2">
            Посмотреть коллекцию
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid-m" style="height: 50px;">
    <div class="row">
    </div>
  </div>


  <div class="block-lg">
    <div class="container product">
      <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-4">
        {% for product in category_s %}
        <div class="col">
          <div class="card shadow-sm" style="border: none; box-shadow: none!important;">
            <img class="img-product" style="border: none; " src="{{ product.image_1.url }}">
            <div class="card-body" style="border: none; padding-right: 0px; padding-left: 10px">
              <div class="row">
                <div class="col-9 title" style="padding-right: 0px!important;">
                  <a href="{{ product.get_absolute_url }}"
                     style="text-decoration: none;font-family: 'Raleway';font-style: normal;font-weight: 500;font-size: 16px;line-height: 19px;color: #515151;">{{ product.title }}</a>
                </div>
                <div class="col-3 price" style="margin-right: 0px!important;padding-left: 0px!important;">
                  <div class="card-text-p">{{ product.price }} руб.</div>
                </div>
              </div>

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="block-sm">
    <div class="container product">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-6">
        {% for product in category_xs %}
        <div class="col">
          <div class="card shadow-sm" style="border: none;">
            <img class="img-product" style="border: none; height: 350px;" src="{{ product.image_1.url }}">
            <div class="card-body" style="border: none; padding-right: 0px; padding-left: 0px">
              <div class="row">
                <div class="col-12 title" style="padding-right: 0px!important;">
                  <a href="{{ product.get_absolute_url }}"
                     style="text-decoration: none;font-family: 'Raleway';font-style: normal;font-weight: 500;font-size: 16px;line-height: 19px;color: #515151;">{{ product.title }}</a>
                </div>
                <div class="col-12 price" style="margin-right: 0px!important;padding-left: 0px!important;">
                  <div class="card-text-p">{{ product.price }} руб.</div>
                </div>
              </div>

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="block-xs">
    <div class="container product">
      <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-4">
        {% for product in category_xs %}
        <div class="col">
          <div class="card shadow-sm" style="border: none; box-shadow: none!important;">
            <img class="img-product" style="border: none;" src="{{ product.image_1.url }}">
            <div class="card-body" style="border: none; padding-right: 0px; padding-left: 0px">
              <div class="row">
                <div class="col-9 title" style="padding-right: 0px!important;">
                  <a href="{{ product.get_absolute_url }}"
                     style="text-decoration: none;font-family: 'Raleway';font-style: normal;font-weight: 500;font-size: 16px;line-height: 19px;color: #515151;">{{ product.title }}</a>
                </div>
                <div class="col-3 price" style="margin-right: 0px!important;padding-left: 0px!important;">
                  <div class="card-text-p">{{ product.price }} руб.</div>
                </div>
              </div>

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container-fluid-m1-1">
      <div class="row">
      </div>
    </div>
  <div class="container-fluid-m1" style="height: 50px;">
      <div class="row">
      </div>
    </div>

  <div class="block-lg">
    <div class="block-1">
        <div class="container-fluid">
          <div class="row">

            <div class="col-4">
              <div class="block__hidden">
                <img class="img-b1" src="{% static 'img/b1.png' %}">
              </div>
            </div>
            <div class="col-4">
                  <div class="t-5-2">
                      <a href="{% url 'core:category_detail' b1.slug %}" style="color: #2E2F40; text-decoration: none">{{b1}}</a>
                  </div>
            </div>
            <div class="col-4">
              <div class="block__hidden">
                <img class="img-b2" src="{% static 'img/b2.png' %}">
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="block-2">
        <div class="container-fluid">
          <div class="row">
            <div class="col-4">
                  <div class="block__hidden">
                    <img class="img-s1" src="{% static 'img/s1.png' %}">
                  </div>
            </div>
            <div class="col-4">
                  <div class="t-5-2">
                        <a href="{% url 'core:category_detail' s1.slug %}" style="color: #2E2F40; text-decoration: none">{{s1}}</a>
                  </div>
            </div>
            <div class="col-4">
                  <div class="block__hidden">
                    <img class="img-s2" src="{% static 'img/s2.png' %}">
                  </div>
            </div>
          </div>
        </div>
      </div>

    <div class="block-3">
        <div class="container-fluid" style="margin-bottom: 100px;">
          <div class="row">
            <div class="col-4">
                  <div class="block__hidden">
                    <img class="img-k1" src="{% static 'img/k1.png' %}">
                  </div>
            </div>
            <div class="col-4">
                  <div class="t-5-2">
                    <a href="{% url 'core:category_detail' k1.slug %}" style="color: #2E2F40; text-decoration: none">{{k1}}</a>
                  </div>
            </div>
            <div class="col-4">
                  <div class="block__hidden">
                    <img class="img-k2" src="{% static 'img/k2.png' %}">
                  </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="block-sm">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
            <div class="t-5-1">
                Категории
            </div>
        </div>
      </div>
    </div>
      <div class="block-1">
        <div class="container-fluid">
          <div class="row">

            <div class="col-12">
                  <div class="t-5-2">
                      <a href="{% url 'core:category_detail' b1.slug %}" style="color: #2E2F40; text-decoration: none">{{b1}}</a>
                  </div>
            </div>
                  <div class="block__hidden">
                    <img class="img-b1" src="{% static 'img/b1.png' %}">
                    <img class="img-b2" src="{% static 'img/b2.png' %}">
                  </div>
          </div>
        </div>
      </div>
      <div class="block-2">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
                  <div class="t-5-2">
                        <a href="{% url 'core:category_detail' s1.slug %}" style="color: #2E2F40; text-decoration: none">{{s1}}</a>
                  </div>
            </div>
                  <div class="block__hidden">
                    <img class="img-s1" src="{% static 'img/s1.png' %}">
                    <img class="img-s2" src="{% static 'img/s2.png' %}">
                  </div>
          </div>
        </div>
      </div>
      <div class="block-3">
        <div class="container-fluid" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-12">
                  <div class="t-5-2">
                    <a href="{% url 'core:category_detail' k1.slug %}" style="color: #2E2F40; text-decoration: none">{{k1}}</a>
                  </div>
            </div>
            <div class="block__hidden">
              <img class="img-k1" src="{% static 'img/k1.png' %}">
              <img class="img-k2" src="{% static 'img/k2.png' %}">
            </div>
          </div>
        </div>
      </div>
  </div>



<!-- with blocks -->
<!--  <div class="block-xs">-->
<!--    <div class="container-fluid">-->
<!--      <div class="row">-->
<!--        <div class="col-12">-->
<!--            <div class="t-5-1">-->
<!--                Категории-->
<!--            </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--      <div class="block-1">-->
<!--        <div class="container-fluid" >-->
<!--          <div class="row">-->
<!--            <div class="col-12" style="height: 50px;">-->
<!--              <div class="t-5-2">-->
<!--                <span>-->
<!--                <a href="{% url 'core:category_detail' b1.slug %}" style="color: #2E2F40; text-decoration: none">{{b1}}</a>-->
<!--                </span>-->
<!--              </div>-->
<!--            </div>-->
<!--                  <div class="block__hidden">-->
<!--                    <img class="img-b1" src="{% static 'img/b1.png' %}">-->
<!--                    <img class="img-b2" src="{% static 'img/b2.png' %}">-->
<!--                  </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="block-2">-->
<!--        <div class="container-fluid">-->
<!--          <div class="row">-->
<!--            <div class="col-12" style="height: 50px;">-->
<!--                  <div class="t-5-2">-->
<!--                      <span>-->
<!--                        <a href="{% url 'core:category_detail' s1.slug %}" style="color: #2E2F40; text-decoration: none">{{s1}}</a>-->
<!--                      </span>-->
<!--                  </div>-->
<!--            </div>-->
<!--                  <div class="block__hidden" style="">-->
<!--                    <img class="img-s1" src="{% static 'img/s1.png' %}">-->
<!--                    <img class="img-s2" src="{% static 'img/s2.png' %}">-->
<!--                  </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="block-3">-->
<!--        <div class="container-fluid" style="margin-bottom: 100px;">-->
<!--          <div class="row">-->
<!--            <div class="col-12" style="height: 50px;">-->
<!--              <div class="t-5-2">-->
<!--                <span>-->
<!--                  <a href="{% url 'core:category_detail' k1.slug %}" style="color: #2E2F40; text-decoration: none">{{k1}}</a>-->
<!--                </span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="block__hidden">-->
<!--              <img class="img-k1" src="{% static 'img/k1.png' %}">-->
<!--              <img class="img-k2" src="{% static 'img/k2.png' %}">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--  </div>-->


<!-- withOUT blocks -->
  <div class="block-xs">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <div class="t-5-1">
                Категории
            </div>
        </div>
      </div>
    </div>


              <div class="t-5-2" style="height: 60px;">
                <span>
                <a href="{% url 'core:category_detail' b1.slug %}" style="color: #2E2F40; text-decoration: none">{{b1}}</a>
                </span>
              </div>



                  <div class="t-5-2" style="height: 60px;">
                      <span>
                        <a href="{% url 'core:category_detail' s1.slug %}" style="color: #2E2F40; text-decoration: none">{{s1}}</a>
                      </span>
                  </div>




              <div class="t-5-2" style="height: 60px;">
                <span>
                  <a href="{% url 'core:category_detail' k1.slug %}" style="color: #2E2F40; text-decoration: none">{{k1}}</a>
                </span>
              </div>

  </div>


  <div class="container-fluid-m1">
      <div class="row">
      </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-4">
        <a class="button-2" href="#">
          <div class="t-1-3">
            Приступить к покупкам</div>
        </a>
      </div>
      <div class="col-4">
      </div>
    </div>
  </div>
  <div class="container-fluid-m">
    <div class="row">
    </div>
  </div>
  <div class="container-fluid-m">
    <div class="row">
    </div>
  </div>
  <div class="container-fluid-m1">
      <div class="row">
      </div>
  </div>
  <div class="container-fluid-m1">
      <div class="row">
      </div>
  </div>

  <div class="container-fluid" style="margin-top: 0px; margin-bottom: 50px; background-color: #2E2424">
      <div class="t-6-1">
        Мы можем стать ближе,<br>если вы узнаете о нас<br> больше
      </div>
      <div class="t-6-2">
        Р
      </div>
      <div class="t-6-3">
        оссийский бренд бижутерии ручной
        работы из натуральных камней,
        стекла и бижутерного сплава в <br>
        стиле минимализм, супрематизм а
        также природном направлении.Мы
        создаем серьги, кольца, колье и
        браслеты комбинируя разные
        материалы и камни.<br><br>

        Изделия выполнены в стиле
        минимализм, супрематизм а также в
        природном направлении. Наши
        серьги, колье, браслеты созданы
        женщинами для женщин, чтобы
        напоминать нам о вечных ценностях,
        о ремеслах и бережном отношении
        ко всему, что нас окружает.
        <br><br>
        Перейти в каталог ->
      </div>
    <div class="row px-0 b-1">
        <div class="col-6 px-0">
          <img class="img-5" src="{% static 'img/5.png' %}">
        </div>
        <div class="col-6 px-0">
          <img class="img-6" src="{% static 'img/6.png' %}">
        </div>
    </div>
  </div>


  <div class="block-lg">
      <div class="container px-0" style="margin-bottom: 0px;">
        <div class="row px-0">
          <div class="col-3">
            <img class="img-7" src="{% static 'img/7.png' %}">
            <img class="img-8" src="{% static 'img/8.png' %}">
          </div>
          <div class="col-3">
            <div class="t-7-1">
              Следите за нами <br>
              в Вконтакте <br>@koshika_brand
            </div>
          </div>
  
          <div class="col-3">
            <img class="img-9" src="{% static 'img/9.png' %}">
          </div>
          <div class="col-3">
            <img class="img-10" src="{% static 'img/10.png' %}">
            <img class="img-11" src="{% static 'img/11.png' %}">
          </div>
        </div>
      </div>
    </div>
  <div class="block-sm">
    <div class="container px-0" style="margin-bottom: 0px;">
      <div class="row px-0">
        <div class="col-4">
          <img class="img-7" src="{% static 'img/7.png' %}">
          <div class="t-7-1">
            Следите за нами <br>
            в Вконтакте <br>@koshika_brand
          </div>
          <img class="img-8" src="{% static 'img/8.png' %}">
        </div>

        <div class="col-4">
          <img class="img-11" src="{% static 'img/11.png' %}">
        </div>
        <div class="col-4">
          <img class="img-9" src="{% static 'img/9.png' %}">
          <img class="img-10" src="{% static 'img/10.png' %}">
          
        </div>
      </div>
    </div>
  </div>
  <div class="block-xs">
    <div class="container-fluid" style="margin-bottom: 0px;">
      <div class="row px-0">
        <div class="col-4 px-0">
          <img class="img-7" src="{% static 'img/7.png' %}">
          <div class="t-7-1">
            Следите за нами <br>
            в Вконтакте <br>@koshika_brand
          </div>
          <img class="img-8" src="{% static 'img/8.png' %}">
        </div>

        <div class="col-4 px-0">
          <img class="img-11" src="{% static 'img/11.png' %}">
        </div>
        <div class="col-4 px-0">
          <img class="img-9" src="{% static 'img/9.png' %}">
          <img class="img-10" src="{% static 'img/10.png' %}">
          
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid-m">
    <div class="row">
    </div>
  </div>


{% endblock main %}
