{% load static %}

<div class="block-lg-f">
    <div class="container-fluid" style="margin-top: 0px; margin-left: 0px; margin-right: 0px; background: #F9F9F9;">
      <div class="row" style="padding-top: 50px;">
        <div class="col-4">
          <div class="t-8-1">
            КОНТАКТЫ
          </div>
          <div class="t-8-4">
            <a style="text-decoration: none; color: #999494;" href="{% url 'core:request_call' %}">Заказать звонок</a><br>
            inbox@koshika.ru <br>
            +7(906)770-52-53 <br>
            г. Москва, 1-я Пугачевская 25с1 оф.218
          </div>
        </div>
        <div class="col-4">
          <div class="t-8-2">
            Следите
          </div>
          <div class="t-8-5">
            ВКОНТАКТЕ <br>
            WILDBERRIES <br>
            OZON
          </div>
        </div>
        <div class="col-4">
          <div class="t-8-3">
            koshika
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 50px;">
        <div class="col-8">
          <div class="t-8-6">
            © 2022 Правовая оферта
          </div>
        </div>
        <div class="col-1">
          <div class="t-8-7">
            КАТАЛОГ
          </div>
        </div>
        <div class="col-3">
          <div class="t-8-7">
            ДОСТАВКА
          </div>
        </div>

      </div>
  </div>
  </div>
<div class="block-xs-f">
    <div class="container-fluid" style="margin-top: 0px; margin-left: 0px; margin-right: 0px; background: #F9F9F9;">
      <div class="row" style="padding-top: 50px;">
          <div class="col-12">
            <div class="t-8-3">
              koshika
            </div>
            <div class="t-8-1">
              КОНТАКТЫ
            </div>
            <div class="t-8-4">
              <a style="text-decoration: none; color: #999494;" href="{% url 'core:request_call' %}">Заказать звонок</a><br>
              inbox@koshika.ru <br>
              +7(906)770-52-53 <br>
              г. Москва, 1-я Пугачевская 25с1 оф.218
            </div>

            <div class="t-8-2">
              Следите
            </div>
            <div class="t-8-5">
              ВКОНТАКТЕ <br>
              WILDBERRIES <br>
              OZON
            </div>
          </div>

      </div>

      <div class="row" style="margin-top: 50px;">
        <div class="col-6">
          <div class="t-8-6">
            © 2022 Правовая оферта
          </div>
        </div>
        <div class="col-3">
          <div class="t-8-7">
            КАТАЛОГ
          </div>
        </div>
        <div class="col-3">
          <div class="t-8-7">
            ДОСТАВКА
          </div>
        </div>

      </div>
  </div>
  </div>