@media (max-width: 1920px) {
    .block-sm {
      display: none;
    }
    .block-xs {
      display: none;
    }
    .block-nav-sm {
      display: none;
    }
    .box-lg {
        display: block;
    }
    .col-12.xs {
        display: none;
    }
    .navbar-brand {
      padding-left: 290px;
    }
    .nav-link.active-1 {
        padding-left: 400px !important;
    }
    .nav-link.active-4 {
        padding-left: 300px !important;
    }

    .nav-link.active-6 {
      padding-left: 215px !important;
    }


   .col-4.xs {
       display: none;
   }
   .t-7.b1 {
       text-align: center;
       margin-right: -720px;
       margin-left: 20px;
   }

   .t-8-1 {
    padding-left: 290px;
  }
  .t-8-4 {
    padding-left: 290px;
  }

  .t-8-6 {
    padding-left: 290px;
    margin-bottom: 60px;
  }


  .t-6.b1 {
        padding-left: 0px!important;
    }



}

@media (max-width: 1600px) {
    .block-sm {
      display: none;
    }
    .block-xs {
      display: none;
    }
    .block-nav-sm {
      display: none;
    }
    .box-lg {
        display: block;
    }
    .col-12.xs {
        display: none;
    }
    .navbar-brand {
        padding-left: 200px;
    }
      .nav-link.active-1 {
    padding-left: 350px !important;
    }
    .nav-link.active-2 {
      padding-left: 40px !important;
    }
    .nav-link.active-3 {
      padding-left: 40px !important;
    }
    .nav-link.active-4 {
      padding-left: 180px !important;
    }
    .nav-link.active-5 {
      padding-left: 10px !important;
    }
    .nav-link.active-6 {
      padding-left: 215px !important;
    }
    .nav-link.active-7 {
      padding-left: 10px !important;
    }

   .col-4.xs {
       display: none;
   }
   .t-7.b1 {
       text-align: center;
       margin-right: -720px;
       margin-left: 20px;
   }

   .t-5 {
        padding-left: 500px!important;
        padding-right: 10px!important;
        margin-bottom: 40px;
    }

   .t-5.b2 {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 40px;
        width: 1200px;
   }
   .img-product {
        height: 327px;
        width: 325px;
        margin-right: 10px;
   }
   .card.shadow-sm {
        height: 327px;
        width: 325px;
        margin-right: 10px;
   }
   .col-7.xs-xs {
        margin-left: 40px;
   }
   .img-product-1 {
        height: 500px;
        width: 387px;
   }
   .t-8-1 {
        padding-left: 190px;
        padding-bottom: 30px;
    }
    .t-8-4 {
        padding-left: 190px;
    }
    .t-8-6 {
        padding-left: 190px;
    }
    .album.py-5 {
        margin-left: 40px;
        margin-right: 40px;
    }

  }

@media (max-width: 1366px) {
    .box-lg {
        display: none;
    }
    .block-sm {
      display: none;
    }
    .block-xs {
      display: none;
    }
    .block-nav-sm {
      display: none;
    }
    .col-12.xs {
        display: none;
    }
    .album.py-5 {
        margin-left: 0px;
        margin-right: 0px;
    }
    .img-product-1 {
        height: 440px;
        width: 347px;
    }
    .img-product {
        height: 307px;
        width: 305px;
        margin-right: 10px;
    }
    .card.shadow-sm {
        height: 307px;
        width: 305px;
        margin-right: 10px;
    }
    .col-4.price {
        margin-left: 0px;
        margin-top: 10px;
    }
    .card-body {
        margin-top: 5px;
        width: 305px;
    }
    .card-body-1 {
        margin-top: 5px;
        width: 347px;
    }
    .navbar-nav.me-auto.mb-2.mb-md-0 {
        padding-right: 40px;
    }
    .navbar-brand {
        padding-left: 120px;
    }
    .nav-link.active-1 {
        padding-left: 310px !important;
    }
    .nav-link.active-2 {
      padding-left: 40px !important;
    }
    .nav-link.active-3 {
      padding-left: 40px !important;
    }
    .nav-link.active-4 {
      padding-left: 140px !important;
    }
    .nav-link.active-5 {
      padding-left: 10px !important;
    }
    .nav-link.active-6 {
      padding-left: 215px !important;
    }
    .nav-link.active-7 {
      padding-left: 10px !important;
    }


    .t-1 {
        position: absolute;
        padding-left: 110px;
        font-size: 150px;
    }

    .img-1 {
        width: 676px;
        height: 695px;
        margin-left: 400px;
        margin-top: 80px;
    }
    .t-2 {
        padding-left: 140px!important;
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 500;
        font-size: 65px;
    }
    .t-2.yr {
        padding-left: 260px!important;
    }
    .col-4.b-1 {
        padding-left: 0px;
    }
    .t-2.b2 {
        text-align: left;
        padding-left: 0px!important;
        margin-bottom: 120px;

    }
    .t-2.b3 {
        text-align: left;
        padding-left: 0px!important;
        margin-top: 20px;
        margin-bottom: 40px;
        /* text-decoration: overline #E11204; */
        border-top: 1px solid #E11204;
        width: 400px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #E11204;
    }
    .t-2.b3.b4 {
        padding-left: 0px;
        margin-top: 70px;
        border-top:none;
        text-decoration-line: underline;
    }
    .t-2v {
        writing-mode: vertical-rl;
    }
    .img-2 {
        margin-left: 20px;
        width: 676px;
        height: 695px;
    }
    .img-3 {
        margin-left: 10px;
        width: 676px;
        height: 813px;
    }
    .t-2.b5{
        text-align: left;
        padding-left: 400px!important;
        margin-bottom: 40px;
    }
    .t-5 {
        padding-left: 400px!important;
        padding-right: 200px!important;
        margin-bottom: 40px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 126%;
        text-transform: uppercase;
        color: #E11204;
    }
    .t-6 {
        margin-bottom: 10px;
        padding-left: 400px!important;
        text-align: left;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #E11204;
    }
    .t-7 {
        text-align: center;
        margin-right: 160px;
        margin-top: 10px;
        margin-bottom: 30px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #E11204;
    }
    .t-7.b1 {
        text-align: center;
        margin-right: -580px;
        margin-left: 20px;
    }
    .t-8 {
        margin-top: 10px;
        padding-left: 50px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: left;
        color: #E11204;
    }
    .t-8.b1 {
        margin-left: -80px;
    }
    .t-8.b3 {
        margin-left: 0px;
    }
    .t-8.b4 {
        margin-left: 0px;
        padding-left: 0px;
    }

    .t-9 {
        margin-top: 10px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-align: left;
        color: #E11204;
    }
    .t-9.p1 {
        margin-left: -80px;
    }
    .t-9.p2 {
        width: 200px;
        margin-left: 60px;
    }
    .t-9.p3 {
        width: 200px;
        padding-left: 40px;
    }
    .t-9.p4 {
        padding-left: 10px;
    }
    .t-9.p5 {
        font-weight: 700;
    }

    .t-2.b5.b6 {
        width: 200px;
    }
    .t-2.b5.b7 {
        text-align: left;
        padding: 0px;
        padding-left: 0px!important;
        margin-top: 60px;
        width: 600px;
        font-size: 59px;
        line-height: 86%;
    }
    .t-5.b1 {
        padding-right: 0px!important;
        width: 1000px;
    }
    .img-4 {
        width: 791px;
        height: 1030px;
    }
    .img-5 {
        margin-top: 830px;
        margin-left: 230px;
        width: 374px;
        height: 409px;
    }
    .t-2.b5.b6.b7 {
        font-size: 65px;
        text-align: left;
        padding-left: 424px!important;
        width: 1000px;
    }
    .t-5.b2 {
        padding-left: 430px!important;
        padding-right: 40px;
        margin-bottom: 40px;
        width: 1250px;
    }
    .t-7.b2 {
        padding-right: 210px;
    }
    .img-6 {
        margin-top: 20px;
        margin-left: 50px;
        width: 325px;
        height: 327px;
    }
    .img-7 {
        margin-top: 20px;
        margin-left: -30px;
        width: 325px;
        height: 327px;
    }
    .t-2.b5.b7.b1 {
        padding-left: 0px!important;
    }
    .img-8 {
        margin-left: 50px;
        width: 387px;
        height: 500px;
    }
    .img-9 {
        margin-left: 20px;
        width: 387px;
        height: 500px;
    }
    .img-10 {
        margin-left: -10px;
        width: 387px;
        height: 500px;
    }
    .t-7.b3 {
        text-align: right;
        padding-right: 20px;
    }
   .t-6.b1 {
       padding-left: 20px!important;
       text-align: left;
       font-size: 16px;
       line-height: 19px;
   }
   .t-8-1 {
      padding-left: 100px;
      padding-bottom: 30px;
      font-family: 'Cormorant Garamond';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 30px;
      text-transform: uppercase;
      color: #2E2F40;
   }
   .t-8-2 {
      padding-left: 50px;
      padding-bottom: 30px;
      font-family: 'Cormorant Garamond';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 30px;
      text-transform: uppercase;
      color: #2E2F40;
   }
   .t-8-3 {
      padding-left: 50px;
      font-family: 'Cormorant Garamond';
      font-style: normal;
      font-weight: 500;
      font-size: 50px;
      line-height: 100%;
      text-align: left;
      text-transform: uppercase;
      color: #2E2F40;
   }
   .t-8-4 {
      padding-left: 100px;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 35px;
      color: #2E2F40;
   }

   .t-8-5 {
      padding-left: 50px;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 35px;
      color: #2E2F40;
   }
   .t-8-6 {
      padding-left: 100px;
      margin-bottom: 60px;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #2E2F40;
   }
   .t-8-7 {
      padding-left: 50px;
      margin-bottom: 60px;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #2E2F40;
   }
   .col-8.xs {
      padding-left: 10px;
      padding-right: 10px;
   }
   .album py-5 {
      padding: 0px:
   }
   .col-4.xs {
        display: none;
   }

}


@media (max-width: 640px) {
    .body {
      width: 640px!important;
    }
    .block-lg {
      display: none;
    }
    .block-sm {
      display: none;
    }
    .block-xs {
      display: block;
    }
    .block-nav-lg {
      display: none;
    }
    .block-nav-sm {
      display: block;
    }
    .box {
      display: none;
    }

    .navbar-nav.me-auto.mb-2.mb-md-0 {
      padding-right: 20px;

    }
    .cart-circle {
        display: none;
    }
    .navbar-brand {
    padding-right: 80px;
  }
      .navbar-toggler {
        margin-left: 10px;
      }
      .nav-link.active-1 {
        color: #FFFFFF;
        padding-top: 50px;
        padding-left: 288px!important;
      }
      .nav-link.active-2 {
        padding-top: 20px;
        color: #FFFFFF;
        padding-left: 296px !important;
      }
      .nav-link.active-3 {
        padding-top: 20px;
        color: #FFFFFF;
        padding-left: 282px !important;
      }
      .nav-link.active-4 {
        padding-top: 20px;
        color: #FFFFFF;
        padding-left: 288px !important;
      }
      .nav-link.active-5 {
        padding-top: 20px;
        color: #FFFFFF;
        padding-left: 294px !important;
      }
      .nav-link.active-6 {
        padding-top: 20px;
        color: #FFFFFF;
        padding-left: 288px !important;
      }
      .icon-trash {
        width: 24px;
        height: 25px;
        margin-right: 20px;
      }

    .t-1 {
      padding-left: 5px;
      font-size: 90px;
    }
    .img-1 {
      width: 350px;
      height: 363px;
      margin-left: 180px;
      margin-top: 106px;
    }

    .t-2 {
      padding-top: 100px;
      padding-left: 180px!important;
      font-size: 47px;
    }
    .t-2.yr {
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 10px!important;
      font-size: 50px!important;
    }
    .col-4.b-1 {
      padding-left: 10px!important;
    }
    .t-2.b2 {
      padding-left: 0px!important;
      margin-bottom: 80px;
      margin-top: -50px;
      padding-top: 0px;
      font-size: 47px;
      width: 200px;
    }
    .t-2.b3 {
      text-align: left;
      padding-left: 0px!important;
      padding-top: 0px;
      margin-top: 0px;
      margin-bottom: 20px;
      border-top: 1px solid #E11204;
      width: 200px;
      font-size: 16px;
    }

    .img-2 {
      margin-top: 20px;
      margin-left: 0px;
      width: 350px;
      height: 448px;
    }
    .t-2.b3.b4 {
      padding-left: 0px!important;
      margin-top: 30px;
      font-size: 16px;

    }
    .t-2.b5 {
      padding-left: 180px!important;
      padding-right: 48px;
      margin-bottom: 20px;
      font-size: 47px;
    }
    .t-5 {
      padding-left: 180px!important;
      padding-right: 0px!important;
      margin-bottom: 40px;
      font-size: 17px;
    }
    .t-5.b1 {
      margin-bottom: 20px;
    }
    .t-6 {
      display: block;
      padding-left: 10px!important;
      margin-left: -30px;
    }
    .t-7 {
      display: block;
      margin-right: 0px!important;
      margin-left: -60px;
    }
    .t-7-l {
        display: none;
    }
    .t-7.b1 {
      display: block;
      width: 140px;
      margin-left: 40px;
      margin-bottom: 20px;
      font-size: 13px;
    }
    .t-7.b2 {
        padding-right: 90px;
    }
    .img-3 {
      margin-left: -220px;
      width: 600px;
      height: 720px;
    }
    .img-4 {
        width: 469px;
        height: 610px;
    }
    .img-5 {
      margin-top: 480px;
      margin-left: 160px;
      width: 221px;
      height: 243px;
    }
    .t-2.b5.b7 {
      margin-top: 10px;
      font-size: 45px;
      text-align: left;
      padding-left: 0px!important;
      width: 300px;
    }
    .t-2.b5.b6.b7 {
      margin-top: 40px;
      font-size: 50px;
      text-align: left;
      padding-left: 130px!important;
      width: 400px;
    }
    .t-5.b2 {
      padding-left: 130px!important;
      padding-right: 0px;
      margin-bottom: 40px;
      width: 500px;
      font-size: 17px;
    }
    .col-4.xs {
      display: block;
    }
    .col-8.xs {
      display: block;
    }
    .col-12.xs {
      display: none;
    }
    .col-6.xs-12-1 {
      margin-top: 20px;
      margin-left: 36px;
    }
    .col-6.xs-12-2 {
      margin-top: 40px;
      margin-left: 36px;
    }
    .col-4.xs-sm {
        display: none;
    }
    .col-8.xs-xs {
        display: none;
    }
    .block-xs {
        display: none;
    }

    .block-sm {
        display: block;
    }
    .img-6 {
      margin-top: 0px;
      margin-left: 0px;
      width: 262px;
      height: 257px;
    }
    .img-7 {
      margin-top: 0px;
      margin-left: 0px;
      width: 262px;
      height: 257px;
    }
    .t-8 {
      margin-top: 10px;
      padding-left: 0px;
      font-size: 14px;
      width: 180px;
    }
    .t-8.b1 {
      margin-left: 0px;
    }

    .t-9 {
      margin-top: 10px;
      margin-left: 120px;
      font-size: 14px;
      width: 70px;
    }
    .t-9.p1 {
        margin-left: 120px;
    }
    .t-2.b5.b7.b1 {
      margin-top: 60px;
      width: 500px;
      margin-left: 20px;
      margin-right: 0px;
      font-size: 50px;
    }
    .t-9.p5 {
      margin-top: 10px;
      margin-left: 0px;
    }
    .row-slider {

    }

    .img-fluid-c {
      background: #BBC2CD;
      width: 300px;
      height: 377px;
    }
    .t-7.b3, .t-6.b1 {
      display: block;
      padding-left: 10px!important;
      padding-right: 10px;
      font-size: 13px;
    }






























    .t-8-1 {
      padding-left: 36px;
      padding-bottom: 10px;
      font-size: 15px;
    }
    .t-8-2 {
      margin-top: 20px;
      padding-left: 36px;
      padding-bottom: 10px;
      font-size: 15px;
    }
    .t-8-3 {
      font-size: 20px;
      padding-left: 36px;
      margin-bottom: 40px;

    }
    .t-8-4 {
      font-size: 13px;
      padding-left: 36px;

    }

    .t-8-5 {
      font-size: 13px;
      padding-left: 36px;

    }
    .t-8-6 {
      font-size: 10px;
      padding-left: 10px;
      margin-bottom: 36px;

    }
    .t-8-7 {
      padding-left: 0px;
      margin-bottom: 30px;
      font-size: 10px;

    }
  }



@media (max-width: 390px) {
    .body {
      width: 320px!important;
    }
    .block-lg {
      display: none;
    }
    .block-sm {
      display: none;
    }
    .block-xs {
      display: block;
    }
    .block-nav-lg {
      display: none;
    }
    .block-nav-sm {
      display: block;
    }
    .box {
      display: none;
    }

    .navbar-nav.me-auto.mb-2.mb-md-0 {
      padding-right: 20px;

    }
    .cart-circle {
        display: none;
    }
    .navbar-brand {
      padding-left: 30px;
      padding-right: 40px;
      margin-right: 0px;
      font-size: 15px;
    }
    .navbar-toggler {
      margin-left: s0px;
    }
  .nav-link.active-1 {
    color: #FFFFFF;
    padding-top: 50px;
    padding-left: 165px !important;
  }
  .nav-link.active-2 {
    padding-top: 10px;
    color: #FFFFFF;
    padding-left: 174px !important;
  }
  .nav-link.active-3 {
    padding-top: 10px;
    color: #FFFFFF;
    padding-left: 158px !important;
  }
  .nav-link.active-7 {
    padding-top: 10px;
    color: #FFFFFF;
    padding-left: 160px !important;
  }
  .nav-link.active-4 {
    padding-top: 10px;
    color: #FFFFFF;
    padding-left: 166px !important;
  }
  .nav-link.active-5 {
    padding-top: 10px;
    color: #FFFFFF;
    padding-left: 170px !important;
  }
  .nav-link.active-6 {
    padding-top: 20px;
    color: #FFFFFF;
    padding-left: 164px !important;
  }
    .icon-trash {
      width: 18px;
      height: 19px;
      margin-right: 10px;
      margin-bottom: 5px;
    }
    .t-1 {
      padding-left: 40px;
      font-size: 47px;
    }
    .img-1 {
      width: 260px;
      height: 275px;
      margin-left: 50px;
      margin-top: 106px;
    }

    .t-2 {
      padding-top: 50px;
      padding-left: 0px!important;
      margin-left: -20px;

      font-size: 30px;
    }
    .t-2.yr {
      margin-top: -10px;
      padding-bottom: 20px;
      padding-left: 100px!important;
      font-size: 30px!important;
    }
    .col-4.b-1 {
      padding-left: 10px!important;
    }
    .t-2.b2 {
      margin-left: 18px;
      margin-bottom: 80px;
      margin-top: -50px;
      padding-top: 0px;
      font-size: 30px;
      width: 200px;
    }
    .t-2.b3 {
      text-align: left;
      padding-left: 0px!important;
      padding-top: 0px;
      margin-top: 0px;
      margin-bottom: 20px;
      border-top: 1px solid #E11204;
      width: 130px;
      font-size: 13px;
      margin-left: 20px;
    }

    .img-2 {
      margin-top: 20px;
      margin-left: 6px;
      width: 223px;
      height: 260px;
      z-index: 0;
    }
    .t-2.b3.b4 {
      padding-left: 0px!important;
      margin-top: 30px;
      font-size: 13px;

    }
    .t-2.b5 {
      padding-left: 48px!important;
      padding-right: 48px;
      margin-bottom: 20px;
      margin-left: 0px;
      font-size: 30px;
    }
    .t-5 {
      padding-left: 48px!important;
      width: 330px!important;
      margin-bottom: 40px;

      font-size: 13px;
    }
    .t-5.b1 {
      margin-bottom: 20px;
      width: 300px;
    }
    .t-6 {
      display: none;
    }
    .t-7 {
      display: none;
    }
    .t-7.b1 {
      display: block;
      width: 140px;
      margin-left: 180px;
      margin-bottom: 20px;
      font-size: 13px;
    }
    .img-3 {
      margin-left: -110px;
      width: 330px;
      height: 360px;
    }
    .img-4 {
      width: 235px;
      height: 305px;
      margin-left: 20px;
    }
    .img-5 {
      margin-top: 240px;
      margin-left: 90px;
      width: 111px;
      height: 122px;
    }
    .t-2.b5.b7 {
      margin-top: 10px;
      font-size: 30px;
      text-align: left;
      padding-left: 0px!important;
      width: 300px;
      margin-left: 20px;
    }
    .t-2.b5.b6.b7 {
      margin-top: 40px;
      font-size: 33px;
      text-align: left;
      padding-left: 28px!important;
      width: 300px;
    }
    .t-5.b2 {
      padding-left: 48px!important;
      padding-right: 0px;
      margin-bottom: 40px;
      width: 300px;
      font-size: 13px;
    }
    .col-4.xs {
      display: none;
    }
    .col-8.xs {
      display: none;
    }
    .col-12.xs {
      display: display;
    }
    .col-6.xs-12-1 {
      margin-top: 20px;
      margin-left: 36px;
    }
    .col-6.xs-12-2 {
      margin-top: 40px;
      margin-left: 36px;
    }
    .img-6 {
      margin-top: 0px;
      margin-left: 0px;
      width: 262px;
      height: 257px;
    }
    .img-7 {
      margin-top: 0px;
      margin-left: 0px;
      width: 262px;
      height: 257px;
    }
    .t-8 {
      margin-top: 10px;
      padding-left: 0px;
      font-size: 14px;
      width: 180px;
    }
    .t-8.b1 {
      margin-left: 0px;
    }

    .t-9 {
      margin-top: 10px;
      margin-left: 120px;
      font-size: 14px;
      width: 70px;
    }
    .t-9.p1 {
        margin-left: 120px;
    }
    .t-2.b5.b7.b1 {
      width: 200px;
      margin-top: 100px;
      padding-left: 0px;
      font-size: 33px;
    }
    .t-9.p5 {
      margin-top: 10px;
      margin-left: 0px;
    }
    .row-slider {

    }

    .img-fluid-c {
      background: #BBC2CD;
      width: 375px;
      height: 377px;
    }
    .t-6.b1 {
      display: block;
      padding-left: 40px!important;
      padding-right: 10px;
      font-size: 13px;
    }
    .t-7.b3 {
        margin-left: 0px;
    }
    .t-7.b2 {
        display: block;
        margin-left: 0px;
        padding-right: 220px;
    }
    .col-7.xs-xs {
        margin-left: 28px;
    }
    .card.shadow-sm {
        margin-bottom: 40px;
    }

    .t-8-1 {
      padding-left: 36px;
      padding-bottom: 10px;
      font-size: 15px;
    }
    .t-8-2 {
      margin-top: 20px;
      padding-left: 36px;
      padding-bottom: 10px;
      font-size: 15px;
    }
    .t-8-3 {
      font-size: 20px;
      padding-left: 36px;
      margin-bottom: 40px;

    }
    .t-8-4 {
      font-size: 13px;
      padding-left: 36px;

    }

    .t-8-5 {
      font-size: 13px;
      padding-left: 36px;

    }
    .t-8-6 {
      font-size: 10px;
      padding-left: 10px;
      margin-bottom: 36px;

    }
    .t-8-7 {
      padding-left: 0px;
      margin-bottom: 30px;
      font-size: 10px;

    }
  }

@media (max-width: 375px) {
    .body {
      width: 320px!important;
    }
    .block-lg {
      display: none;
    }
    .block-sm {
      display: none;
    }
    .block-xs {
      display: block;
    }
    .block-nav-lg {
      display: none;
    }
    .block-nav-sm {
      display: block;
    }
    .box {
      display: none;
    }

    .navbar-nav.me-auto.mb-2.mb-md-0 {
      padding-right: 20px;

    }
    .cart-circle {
        display: none;
    }
    .navbar-brand {
      padding-left: 30px;
      padding-right: 40px;
      margin-right: 0px;
      font-size: 15px;
    }
    .navbar-toggler {
      margin-left: s0px;
    }
    .nav-link.active-1 {
      color: #FFFFFF;
      padding-top: 50px;
      padding-left: 156px !important;
    }
    .nav-link.active-2 {
      padding-top: 10px;
      color: #FFFFFF;
      padding-left: 166px !important;
    }
    .nav-link.active-3 {
      padding-top: 10px;
      color: #FFFFFF;
      padding-left: 150px !important;
    }
    .nav-link.active-4 {
      padding-top: 10px;
      color: #FFFFFF;
      padding-left: 156px !important;
    }
   .nav-link.active-5 {
      padding-top: 10px;
      color: #FFFFFF;
      padding-left: 160px !important;
    }
    .nav-link.active-6 {
      padding-top: 10px;
      color: #FFFFFF;
      padding-left: 154px !important;
    }
    .icon-trash {
      width: 18px;
      height: 19px;
      margin-right: 10px;
      margin-bottom: 5px;
    }
    .t-1 {
      padding-left: 20px;
      font-size: 47px;
    }
    .img-1 {
      width: 240px;
      height: 255px;
      margin-left: 40px;
      margin-top: 106px;
    }

    .t-2 {
      padding-top: 50px;
      padding-left: 0px!important;
      font-size: 30px;
    }
    .t-2.yr {
      margin-top: -10px;
      padding-bottom: 20px;
      padding-left: 96px!important;
      font-size: 30px!important;
    }
    .col-4.b-1 {
      padding-left: 10px!important;
    }
    .t-2.b2 {
      padding-left: 0px!important;
      margin-bottom: 80px;
      margin-top: -50px;
      padding-top: 0px;
      font-size: 30px;
      width: 200px;
    }
    .t-2.b3 {
      text-align: left;
      padding-left: 0px!important;
      padding-top: 0px;
      margin-top: 0px;
      margin-bottom: 20px;
      border-top: 1px solid #E11204;
      width: 130px;
      font-size: 13px;
    }

    .img-2 {
      margin-top: 20px;
      margin-left: 6px;
      width: 203px;
      height: 260px;
      z-index: 0;
    }
    .t-2.b3.b4 {
      padding-left: 0px!important;
      margin-top: 30px;
      font-size: 13px;

    }
    .t-2.b5 {
      padding-left: 48px!important;
      padding-right: 48px;
      margin-bottom: 20px;
      font-size: 30px;
    }
    .t-5 {
      padding-left: 48px!important;
      padding-right: 20px;
      margin-bottom: 40px;

      font-size: 13px;
    }
    .t-5.b1 {
      margin-bottom: 20px;
      width: 300px;
    }
    .t-6 {
      display: none;
    }
    .t-7 {
      display: none;
    }
    .t-7.b1 {
      display: block;
      width: 140px;
      margin-left: 180px;
      margin-bottom: 20px;
      font-size: 13px;
    }
    .img-3 {
      margin-left: -110px;
      width: 320px;
      height: 360px;
    }
    .img-4 {
      width: 235px;
      height: 305px;
    }
    .img-5 {
      margin-top: 240px;
      margin-left: 70px;
      width: 111px;
      height: 122px;
    }
    .t-2.b5.b7 {
      margin-top: 10px;
      font-size: 30px;
      text-align: left;
      padding-left: 0px!important;
      width: 300px;
    }
    .t-2.b5.b6.b7 {
      margin-top: 40px;
      font-size: 33px;
      text-align: left;
      padding-left: 48px!important;
      width: 300px;
    }
    .t-5.b2 {
      padding-left: 66px!important;
      padding-right: 0px;
      margin-bottom: 40px;
      width: 300px;
      font-size: 13px;
    }
    .col-4.xs {
      display: none;
    }
    .col-8.xs {
      display: none;
    }
    .col-12.xs {
      display: display;
    }
    .col-6.xs-12-1 {
      margin-top: 20px;
      margin-left: 36px;
    }
    .col-6.xs-12-2 {
      margin-top: 40px;
      margin-left: 36px;
    }
    .img-6 {
      margin-top: 0px;
      margin-left: 0px;
      width: 262px;
      height: 257px;
    }
    .img-7 {
      margin-top: 0px;
      margin-left: 0px;
      width: 262px;
      height: 257px;
    }
    .t-8 {
      margin-top: 10px;
      padding-left: 0px;
      font-size: 14px;
      width: 180px;
    }
    .t-8.b1 {
      margin-left: 0px;
    }

    .t-9 {
      margin-top: 10px;
      margin-left: 120px;
      font-size: 14px;
      width: 70px;
    }
    .t-9.p1 {
        margin-left: 120px;
    }
    .t-2.b5.b7.b1 {
      width: 200px;
      margin-top: 60px;
      padding-left: 0px;
      font-size: 33px;
    }
    .t-9.p5 {
      margin-top: 10px;
      margin-left: 0px;
    }
    .row-slider {

    }

    .img-fluid-c {
      background: #BBC2CD;
      width: 354px;
      height: 377px;
    }
    .t-6.b1 {
      display: block;
      padding-left: 40px!important;
      padding-right: 10px;
      font-size: 13px;
    }
    .t-7.b3 {
        margin-left: 0px;
    }
    .t-7.b2 {
        display: block;
        margin-left: 28px;
        padding-left: 0px;
        padding-right: 0px;
        width: 150px;
    }
    .card.shadow-sm {
        height: 360px;
        width: 320px;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .card-body {
        width: 320px;
    }
    .col-7.xs-xs {
        margin-left: 14px;
    }
    .img-product {
        height: 310px;
        width: 320px;
        margin-left: 0px;
    }





    .t-8-1 {
      padding-left: 36px;
      padding-bottom: 10px;
      font-size: 15px;
    }
    .t-8-2 {
      margin-top: 20px;
      padding-left: 36px;
      padding-bottom: 10px;
      font-size: 15px;
    }
    .t-8-3 {
      font-size: 20px;
      padding-left: 36px;
      margin-bottom: 40px;

    }
    .t-8-4 {
      font-size: 13px;
      padding-left: 36px;

    }

    .t-8-5 {
      font-size: 13px;
      padding-left: 36px;

    }
    .t-8-6 {
      font-size: 10px;
      padding-left: 10px;
      margin-bottom: 36px;

    }
    .t-8-7 {
      padding-left: 0px;
      margin-bottom: 30px;
      font-size: 10px;

    }
  }

@media (max-width: 320px) {
    .body {
      width: 320px!important;
    }
    .block-lg {
      display: none;
    }
    .block-sm {
      display: none;
    }
    .block-xs {
      display: block;
    }
    .block-nav-lg {
      display: none;
    }
    .block-nav-sm {
      display: block;
    }
    .box {
      display: none;
    } 

    .navbar-nav.me-auto.mb-2.mb-md-0 {
      padding-right: 20px;
  
    }
    .cart-circle {
        display: none;
    }
    .navbar-brand {
      padding-left: 30px;
      padding-right: 40px;
      margin-right: 0px;
      font-size: 15px;
    }
    .navbar-toggler {
      margin-left: s0px;
    }
    .nav-link.active-1 {
      color: #FFFFFF;
      padding-top: 50px;
      padding-left: 130px !important;
    }
    .nav-link.active-2 {
      padding-top: 10px;
      color: #FFFFFF;
      padding-left: 140px !important;
    }
    .nav-link.active-3 {
      padding-top: 10px;
      color: #FFFFFF;
      padding-left: 124px !important;
    }
    .nav-link.active-4 {
      padding-top: 10px;
      color: #FFFFFF;
      padding-left: 130px !important;
    }
   .nav-link.active-5 {
      padding-top: 10px;
      color: #FFFFFF;
      padding-left: 134px !important;
    }
    .nav-link.active-6 {
      padding-top: 10px;
      color: #FFFFFF;
      padding-left: 128px !important;
    }
    .icon-trash {
      width: 18px;
      height: 19px;
      margin-right: 10px;
      margin-bottom: 5px;
    }
    .t-1 {
      padding-left: 5px;
      font-size: 47px;
    }
    .img-1 {
      width: 220px;
      height: 255px;
      margin-left: 40px;
      margin-top: 106px;
    }
    
    .t-2 {
      padding-top: 50px;
      padding-left: 0px!important;
      font-size: 30px;
      margin-left: 10px;
      width: 300px!important;
    }
    .t-2.yr {
      margin-top: -10px;
      padding-bottom: 20px;
      padding-left: 50px!important;
      font-size: 30px!important;
      margin-left: 0px;
    }
    .col-4.b-1 {
      padding-left: 10px!important;
    }
    .t-2.b2 {
      padding-left: 0px!important;
      margin-bottom: 80px;
      margin-top: -50px;
      padding-top: 0px;
      font-size: 30px;
      width: 200px;
      margin-left: 0px;
    }
    .t-2.b3 {
      text-align: left;
      padding-left: 0px!important;
      padding-top: 0px;
      margin-top: 0px;
      margin-bottom: 20px;
      border-top: 1px solid #E11204;
      width: 130px;
      font-size: 13px;
      margin-left: 0px;
    }

    .img-2 {
      margin-top: 20px;
      margin-left: -10px;

      width: 203px;
      height: 260px;
      z-index: 0;
    }
    .t-2.b3.b4 {
      padding-left: 0px!important;
      margin-top: 30px;
      font-size: 13px;

    }
    .t-2.b5 {
      padding-left: 48px!important;
      padding-right: 48px;
      margin-bottom: 20px;
      font-size: 30px;
    }
    .t-5 {
      padding-left: 48px!important;
      padding-right: 20px;
      margin-bottom: 40px;
      font-size: 13px;
      width: 200px;
    }
    .t-5.b1 {
      margin-bottom: 20px;
      width: 300px!important;
    }
    .t-6 {
      display: none;
    }
    .t-7 {
      display: none;
    }
    .t-7.b1 {
      display: block;
      width: 140px;
      margin-left: 150px;
      margin-bottom: 20px;
      font-size: 13px;
    }
    .img-3 {
      margin-left: -110px;
      width: 300px;
      height: 360px;
    }
    .img-4 {
      width: 235px;
      height: 305px;
    }
    .img-5 {
      margin-top: 240px;
      margin-left: 70px;
      width: 111px;
      height: 122px;
    }
    .t-2.b5.b7 {
      margin-top: 10px;
      font-size: 30px;
      text-align: left;
      padding-left: 0px!important;
      width: 290px!important;
    }
    .t-2.b5.b6.b7 {
      margin-top: 40px;
      font-size: 33px;
      text-align: left;
      padding-left: 48px!important;
      width: 300px;
      margin-left: 0px;
    }
    .t-5.b2 {
      padding-left: 48px!important;
      padding-right: 0px;
      margin-bottom: 40px;
      width: 300px!important;
      font-size: 13px;
    }
    .col-4.xs {
      display: none;
    }
    .col-8.xs {
      display: none;
    }
    .col-12.xs {
      display: display;
    }
    .col-6.xs-12-1 {
      margin-top: 20px;
      margin-left: 36px;
    }
    .col-6.xs-12-2 {
      margin-top: 40px;
      margin-left: 36px;
    }
    .img-6 {
      margin-top: 0px;
      margin-left: 0px;
      width: 262px;
      height: 257px;
    }
    .img-7 {
      margin-top: 0px;
      margin-left: 0px;
      width: 262px;
      height: 257px;
    }
    .t-8 {
      margin-top: 10px;
      padding-left: 0px;
      font-size: 14px;
      width: 180px;
    }
    .t-8.b1 {
      margin-left: 0px;
    }

    .t-9 {
      margin-top: 10px;
      margin-left: 120px;
      font-size: 14px;
      width: 70px;
    }
    .t-9.p1 {
        margin-left: 120px;
    }
    .t-2.b5.b7.b1 {
      width: 200px!important;
      margin-top: 60px;
      padding-left: 0px;
      font-size: 33px;
    } 
    .t-9.p5 {
      margin-top: 10px;
      margin-left: 0px;
    } 
    .row-slider {
      
    } 
 
    .img-fluid-c {
      background: #BBC2CD;
      width: 300px;
      height: 377px;
    }
    .t-6.b1 {
      display: block;
      padding-left: 40px!important;
      padding-right: 10px;
      font-size: 13px;
    }
    .t-7.b3 {
        margin-left: 0px;
    }
    .t-7.b2 {
        display: block;
        margin-left: 0px;
        padding-right: 160px;
    }






























    .t-8-1 {
      padding-left: 36px;
      padding-bottom: 10px;
      font-size: 15px;
    }
    .t-8-2 {
      margin-top: 20px;
      padding-left: 36px;
      padding-bottom: 10px;
      font-size: 15px;
    }
    .t-8-3 {
      font-size: 20px;
      padding-left: 36px;
      margin-bottom: 40px;
  
    }
    .t-8-4 {
      font-size: 13px;
      padding-left: 36px;
  
    }
  
    .t-8-5 {
      font-size: 13px;
      padding-left: 36px;
  
    }
    .t-8-6 {
      font-size: 10px;
      padding-left: 10px;
      margin-bottom: 36px;
  
    }
    .t-8-7 {
      padding-left: 0px;
      margin-bottom: 30px;
      font-size: 10px;
  
    }
  }    
