{% extends 'base.html' %}
{% load static %}
{% block main %}

<div class="container-fluid-m">
        <div class="row">
        </div>
    </div>
<div class="container-fluid-m1">
        <div class="row">
        </div>
    </div>
<div class="container-fluid-m1">
        <div class="row">
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="acc-form">
            <div class="acc-t-1">Аккаунт</div>
            <div class="acc-t-2">Войти или зарегистрироваться</div>
            <form class="form-login" method="post">
                {% csrf_token %}
                <input style="margin-bottom: 20px;" name="username" type="text" class="form-control" placeholder="Номер телефона" required>
                <input style="margin-bottom: 20px;" name="password" type="password" class="form-control" placeholder="Пароль" required>
                <div class="checkbox mb-3">
                </div>
                <button style="margin-top: 20px;" class="w-100 btn btn-lg btn-primary" type="submit"><div class="btn-t">Войти</div></button>
            </form>
            </div>
        </div>
        <div class="col-4 align-self-end">
            <a style="text-decoration: none;" class="reg-link" aria-current="page" href="{% url 'users:register' %}"><div class="reg-link-t">У меня нет аккаунта⇾</div></a>
        </div>
    </div>
</div>

<div class="container-fluid-m">
        <div class="row">
        </div>
    </div>
<div class="container-fluid-m1">
        <div class="row">
        </div>
    </div>
<div class="container-fluid-m1">
        <div class="row">
        </div>
    </div>
{% endblock main %}